<div class="card-cont">
  <div class="card mb-3">
    <img src="{{images}}" class="card-img-top" alt="foto-denuncia" style="height: 50%">
    <div class="card-body">
      <h5 class="card-title">Título: {{titulo}}</h5>
      <p class="card-text">Folio: {{folio}}</p>
      <p class="card-text">Descripcion: {{descripcion}}</p>
      <p class="card-text">Ubicación: {{direccion}}</p>
      <p class="card-text"><small class="text-muted">Status: {{estatus}}</small></p>
    </div>
  </div>
</div>