<div class="outer-cont">
  <div class="inner-cont">
    <form>
      <div>
        <label for="Folio">Folio:</label>
        <input type="text" value="{{folio}}" disabled>
        <label for="Estatus">Situaci贸n:</label>
        <input type="text" value="{{estatus}}" disabled>
      </div>
      <div>
        <label for="Fecha">Fecha:</label>
        <input type="text" value="{{fecha}}" disabled>
        <label for="Categoria">Categoria:</label>
        <input type="text" value="{{categoria.descripcion}}" disabled>
      </div>
      {{#if user}}
      <div>
        <label for="User">Denunciante:</label>
        <input type="text" value="{{user.nombre}} {{user.apellido}}" disabled>
      </div>
      {{/if}}
      {{#unless user}}
      <div>
        <label for="User">Denunciante:</label>
        <input type="text" value="An贸nimo" disabled>
      </div>
      {{/unless}}


      <h1> {{titulo}} </h1>
      <div>
        <label for="descripcion">Descripci贸n:</label></div>
      <div><textarea name="descripcion" cols="60" rows="5" disabled>{{descripcion}}</textarea>
      </div>
      <div>
        <label for="Direccion">Direcci贸n:</label>
        <input type="text" value="{{direccion}}" disabled>
      </div>


      <div>
        <img src={{images.[0]}} style="width: 200px; height: auto;"></img>
      </div>

    </form>

    <a href="/"> Inicio </a>
  </div>
</div>