<div class="outer-cont">
  <div class="inner-cont">
    <form>
      <div>
        <label for="Folio">Folio:</label>
        <input type="text" value="{{folio}}" disabled>
        <label for="Estatus">Situación:</label>
        <input type="text" value="{{estatus}}" disabled>
      </div>
      <div>
        <label for="Fecha">Fecha:</label>
        <input type="text" value="{{fecha}}" disabled>
        <label for="Categoria">Categoria:</label>
        <input type="text" value="{{categoria.descripcion}}" disabled>
      </div>
      {{#if user}}
      <div>
        <label for="User">Denunciante:</label>
        <input type="text" value="{{user.nombre}} {{user.apellido}}" disabled>
      </div>
      {{/if}}
      {{#unless user}}
      <div>
        <label for="User">Denunciante:</label>
        <input type="text" value="Anónimo" disabled>
      </div>
      {{/unless}}


      <h1> {{titulo}} </h1>
      <div>
        <label for="descripcion">Descripción:</label></div>
      <div><textarea name="descripcion" cols="60" rows="5" disabled>{{descripcion}}</textarea>
      </div>
      <div>
        <label for="Direccion">Dirección:</label>
        <input type="text" value="{{ubicacion.address}}" disabled>
      </div>
  
      </form>
    {{#if comentarios}}Comentarios:{{/if}}
      {{#each comentarios as |C|}}
      <div>
        {{C.user.nombre}} {{C.user.apellido}} ({{C.createdAt}}): 
        <div>{{C.comentario}}</div>
        {{#if C.edit}} <a href ="/comentarios/{{C._id}}/edit"><button >Editar</button></a>{{/if}}
      </div>
      {{/each}}

      {{#if logged}}
    <div>
      <form method="POST" >
      <textarea name="comentario" cols="60" rows="5" placeholder="Escribe tu comentario aquí"></textarea>
      <button "submit"> comentar </button>
      </form>
    </div>
      {{/if}}


      <div>
        <img src={{images.[0]}}></img>
      </div>

   

    <a href="/"> Inicio </a>
  </div>
</div>