
{{#if uno}}
 <a href="/denuncia/{{denuncias.folio}}">{{denuncias.folio}} - {{denuncias.titulo}} - {{denuncias.ubicacion.address}} </a>
{{/if}}
{{#unless uno}}
{{#each denuncias}}
 <div><a href="/denuncia/{{folio}}">{{folio}} - {{titulo}} - {{ubicacion.address}}</a></div>
{{/each}}
{{/unless}}