<div class="main">
  <h1 id="home-title">DENUNCIA CHILANGA</h1>
  <button id="denuncia-btn"><a href="/generar-denuncia">¡HAZ TU DENUNCIA!</a></button>
</div>


<div class="outer-cont">
  <div class="inner-cont">

    {{#unless user.home}}
    <br>
    <p>Ingresa con tu usuario para darle seguimiento a tus denuncias, ver estadísticas y más.</p>
    <div class="signup-login">
      <div class="signup-login-int">
        <p>¿No tienes cuenta?</p><button><a href="/signup">Regístrate</a></button> <br><br>
      </div>
      <div class="signup-login-int">
        <p>¿Ya tienes cuenta?</p><button><a href="/login">Inicia Sesión</a></button>
      </div>
    </div>
    {{/unless}}


    {{#if user.admin}}
    <div id="usuarios-categorias-cont">
      <button><a href="/users">Usuarios</a>
        <button><a href="/categoria">Categorias</a></button>
    </div>
    {{/if}}

    <br>
    <button><a href="/graph">Estadísticas</a></button>
    <br><br>

    {{#if user.home}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <canvas id="myChart" width="600" height="200"></canvas>

    <script>
      var ctx = document.getElementById('myChart').getContext('2d');

      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
          labels: ["{{fechas.[6]}}", "{{fechas.[5]}}", "{{fechas.[4]}}", "{{fechas.[3]}}", "{{fechas.[2]}}", "{{fechas.[1]}}", "{{fechas.[0]}}"],
          datasets: [{
            label: 'Actividad de los últimos 7 días',
            backgroundColor: '{{color_graph}}',
            borderColor: '{{color_graph}}',
            data: ["{{vals.[6]}}", "{{vals.[5]}}", "{{vals.[4]}}", "{{vals.[3]}}", "{{vals.[2]}}", "{{vals.[1]}}", "{{vals.[0]}}"]
          }]
        },

        // Configuration options go here
        options: {}
      });
    </script>

    {{/if}}
  </div>