<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>
  
{{#unless home}}
<div><a href="/login">Inicia Sesion</a></div>
<div><a href="/signup">Regìstrate</a></div>
{{/unless}}

  {{#if home}}
  <p> tú eres {{nombre}}  {{apellido}} y tienes eres un {{rol}}</p>
 <div> <a href="/logout">Salir</a> </div>
 
{{/if}}

{{#if admin}}
 <div> <a href="/users">Usuarios</a> </div>
 <div> <a href="/categoria">Categorias</a> </div>

{{/if}}

<div><a href="/generar-denuncia">Levanta una denuncia</a></div>
<div> <a href="/denuncia">consulta Denuncias</a> </div>